@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: transparent;
}
